<div class="{{class}}">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><h4>{{name}}</h4></li><br />
            {{#linkdata}}
                <li class="list-inline-item">
                    <a href="{{{link}}}">{{text}}</a>
                </li>
            {{/linkdata}}
        </ul>
    </div>
</div>